src/microservices/Shared/Common/obj/
src/microservices/Shared/Common/bin/
src/microservices/TaskService/TaskCommon/obj/
src/microservices/TaskService/TaskCommon/bin/
src/microservices/TaskService/TaskRead/obj/
src/microservices/TaskService/TaskRead/bin/
src/microservices/TaskService/TaskWrite/obj/
src/microservices/TaskService/TaskWrite/bin/
.idea
src/microservices/Shared/Infrastructure/obj/
src/microservices/Shared/Infrastructure/bin/
src/microservices/Auth/obj/
src/microservices/Auth/bin/
fluxmanage.sln.DotSettings.user
